#App {
    height: 100dvh;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    margin: 0;
}

#Container {
    width: 40%;
}

.Paragraph_Container {
    width: 100%;
    margin-bottom: 50px;
}

.Paragraph_Text {
    font-size: 1.5rem;
}

.Input_Container {
    width: 100%;
}

.User_Input {
    width: 99%;
    height: 40px;
    font-size: 1.5rem;
}